<%# <div id="<%= dom_id article %>
<div class="article-show-container">

  <%= cl_image_tag article.photo.key %>
  <div class="article-show-content">
    <h1>
      <%= article.title %>
    </h1>

    <p>
      <%= article.address %>
    </p>
    <p>
      <%= article.category %>
    </p>

    <p>
      <%= article.content %>
    </p>
  </div>
</div>
