<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= article.location %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= article.content %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= article.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= article.longitude %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= article.category %>
  </p>

</div>
