<p style="color: green"><%= notice %></p>

<%= render @article %>

<div class="show-buttons">
  <%= link_to "Edit", edit_article_path(@article), class: "btn-ghost" if policy(@article).edit? %>
  <%= link_to "Comments", article_comments_path(@article), class: "btn-ghost" %>
  <%= link_to "Delete", article_path(@article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn-ghost" if policy(@article).destroy? %>
</div>
