<p style="color: green"><%= notice %></p>

<%= render @article %>

<div>
  <% if policy(@article).edit? %>
    <%= link_to "Edit this article", edit_article_path(@article) %> |
  <% end %>


  <%= link_to "Back to articles", articles_path %>
  <%# <%= link_to "comment on this article", new_article_comment_path(@article) %>
  <%= link_to "view comments", article_comments_path(@article) %>
  <%= button_to "Destroy this article", @article, method: :delete if policy(@article).destroy? %>
</div>
